{
    "gitlab": {
        "sources": [
            {
                "tenant": "",
                "project": "",
                "ref": "main",
                "filepath": ""
            }
        ]
    },
    "vcloud": {
        "sources": [
            {
                "user": "",
                "password": "",
                "tenant": "",
                "endpoint": "",
                "insecure": false
            },
            {
                "user": "",
                "password": "",
                "tenant": "",
                "endpoint": "",
                "insecure": false
            },
    }
}