{
    "gitlab": {
        "sources": [
            {
                "tenant": "",
                "project": "",
                "ref": "main",
                "filepath": ""
            }
        ]
    },
    "vcloud": {
        "endpoints": ["", ""],
        "tenants": ["","",""]
    }
}