{{ define "main" }}
<html>
<head>
    <title>IOC Machines</title>
    <style>
        body {
            font-family: sans-serif;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        table {
            border-collapse: collapse;
            border: 1px solid black;
            text-align: center;
            vertical-align: middle;
        }
        caption {
            font-weight: bold;
            font-size: 24px;
            text-align: left;
            color: #333;
            margin-bottom: 16px;
        }
        thead {
            background-color: #333;
            color: white;
            font-size: 0.875em;
            text-transform: uppercase;
            letter-spacing: 2%;
        }
        thead th {
            width: 10%
        }
        .cell-highlight {
            background-color: gold;
            font-weight: bold;
        }

        tbody tr:nth-child(odd) {
            background-color: #fff;
        }

        tbody tr:nth-child(even) {
            background-color: #eee;
        }

    </style>
</head>
<body>
    <div class="container">
    {{ template "machines" . }}
    </div>
</body>
</html>
{{ end }}