{{ define "vcloud_main" }}
<html>
<head>
    <title>IOC Machines (VCLOUD)</title>
    {{ template "styles" }}
</head>
<body>
    <div class="container">
    <p><a href="/gitlab/html">Gitlab</a></p>
    {{ template "vcloud" . }}
    </div>
</body>
</html>
{{ end }}

{{ define "gitlab_main" }}
<html>
<head>
    <title>IOC Machines (Gitlab)</title>
    {{ template "styles" }}
</head>
<body>
    <div class="container">
    <p><a href="/vcloud/html">VMWare Cloud Directory</a></p>
    {{ template "gitlab" . }}
    </div>
</body>
</html>
{{ end }}