{{ define "vcloud"}}
{{ range . }}
    {{ if ne .Error nil }}
        <p style="color: red">{{ .Tenant }} ({{ .Name }}): {{ .Error }}</p>
    {{ else }}
        <table>
        <caption>
            {{ .Tenant }} ({{ .Name }}) 
            [VMs: {{ len .Machines }}, CPUs: {{ .Aggregates.CPUs }}, Mem: {{ .Aggregates.Memory }}, Storage: {{ .Aggregates.StorageMB }}MB]
        </caption>
        <thead>
            <tr>
                <th>VPC name</th>
                <th>VM name</th>
                <th>CPUs</th>
                <th>Memory</th>
                <th>Storage (MB)</th>
                <th>Storage Profile</th>
                <th>OS</th>
                <th>Status</th>
                <th>Placement Policy</th>
                <th>Sizing Policy</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Machines }}
            <tr>
                <td>{{ .VPCName }}</td>
                <td>{{ .VMName }}</td>
                <td>{{ .CPUs }}</td>
                <td>{{ .Memory }}</td>
                <td>{{ .Storage }}</td>
                <td>{{ .StorageProfile }}</td>
                <td>{{ .OS }}</td>
                <td>{{ .Status }}</td>
                <td>{{ .PlacementPolicy }}</td>
                <td>{{ .SizingPolicy }}</td>
            </tr>
        {{ end }}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ .Aggregates.CPUs }}</td>
                <td>{{ .Aggregates.Memory }}</td>
                <td>{{ .Aggregates.StorageMB }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        </table>
    {{ end }}
{{ end }}
{{ end }}